name: On Demand Test ABC

on:
  repository_dispatch:
    types: [abc-on-demand-test]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        uses: cypress-io/github-action@v4
        with:
          runTests: false

      - name: Run Cypress
        uses: cypress-io/github-action@v4 # use the explicit version number
        env:
          TAGS: ${{ github.event.client_payload.tags }}
        with:
          browser: chrome
          working-directory: src/abc
